<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyGNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyGNotifier.Properties.Settings>
            <setting name="IMAP_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="IMAP_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMAP_USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="IMAP_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAIN_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAIN_PASS_SHOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAIN_DOUBLE_CLICK_GMAIL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_AUTO_NOTIFY_ERROR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_AUTO_NOTIFY_MSGS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAIN_TIMER_REFRESH" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MAIN_KEEP_CONNECTION_ALIVE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_CHECK_MONITOR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAIN_RAD_NOTIFIER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAIN_RAD_THEME" serializeAs="String">
                <value />
            </setting>
            <setting name="MAIN_NOTIFIER_HEIGHT" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MAIN_CLEAN_LOGS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAIN_CLEAN_LOGS_INTERVAL" serializeAs="String">
                <value>1000000</value>
            </setting>
        </MyGNotifier.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
